/*Style for Dashboard*/
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(77, 75, 75);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(26, 25, 25);
  }

.box-layout{
    margin: 20px 0 0;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.box-layout h1{
    font-size: 30px;
    font-weight: bold;
}

.marginer{
    margin: 5px;
    padding: 5px;
}

.permanent{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 13px;
    color: gray;
}

.pending {
    color: #7f7f7f;
    font-size: 11px;
}

.pending-text{
    font-weight: normal;
    text-transform: uppercase;
}


/* from old */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

/* GENERAL */

html {
    scroll-behavior: smooth;
    font-size: 15px;
}

*
{
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, b, strong {
    font-weight: 700;
}

header {
    margin-bottom: 20px;
    padding: 25px;
    background-color: #fe9d0d;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    color: #fff;
}

header h1 {
    margin-bottom: 0.25rem;
}

header span {
    font-size: 1.2em;
}

button[aria-label=Close]:focus {
    outline: none;
}

th:hover {
    cursor: pointer;
}

label {
    font-weight: 700;
    font-size: 0.9em;
    margin-bottom: 4px;
}

form input:focus {
    outline: none;
}


input[type="checkbox"],
input[type="checkbox"] + label {
    cursor: pointer;
}

input[type="checkbox"] + label {
    font-weight: 300;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    background: #efefef;
    border: none;
    border-radius: 3px;
    padding: 1em 2em 1em 1em;
    font-size: 1em;
}
.select-container {position:relative; display: inline;}
.select-container:after {content:""; width:0; height:0; position:absolute; pointer-events: none;}
.select-container:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: .3em;
    right: .75em;
    border-top: 8px solid black;
    opacity: 0.5;
}
select::-ms-expand {
    display: none;
}

a {
    color: #3366cc;
}

a:hover {
    color: #333399;
}

/* FONTAWESOME OVERRIDES */

.fa-1p25x { font-size: 1.25em; }
.fa-1p5x { font-size: 1.5em; }
.fa-1p75x { font-size: 1.75em; }

/* BOOTSTRAP OVERRIDES */

.modal-content {
    border: none;
    border-radius: 0;
}

.btn,
.list-group-item:first-child,
.list-group-item:last-child {
    /* border-radius: 0; */
}

.list-group-item {
    border-radius: 10px !important;
}
.card {
    border-style: none;
    border-radius: 20px;
}

.card-header {
    background-color: #275ccb;
    border: none;
    /* border-radius: 0 !important; */
    color: #fff;
    border-style: none;
}

.card-header-sm {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.form-control,
.custom-select {
    border: none;
    border-radius: 0;
    background-color: #f2f2f2;
    transition: all 0.25s;
    border-radius: 5px;
}

.form-control:focus,
.custom-select:focus {
    background-color: #e6e6e6;
    outline: none;
    box-shadow: none;
    transition: all 0.25s;
}

.nav-tabs .active {
    border: none;
    border-radius: 0;
}

.nav-tabs a {
    border: none !important;
    color: #fff;
}

.btn-white { background-color: #fff }

.btn-gray { background-color: #efefef; }

.btn-lightorange { background-color: #ffecae; }

.card-img-top { object-fit: cover; }

/* BOTTOM SPACERS */

.spaced-10 { margin-bottom: 10px; }
.spaced-20 { margin-bottom: 20px; }
.spaced-30 { margin-bottom: 30px; }
.spaced-40 { margin-bottom: 40px; }
.spaced-50 { margin-bottom: 50px; }

/* MANUALLY ADD SHADOWS TO ELEMENTS (MD) */

.shadowed {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

/* REMOVE SPIN BUTTONS (NUMBERS) */

.nospin {
    -moz-appearance:textfield;
}

.nospin::-webkit-outer-spin-button,
.nospin::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* ??? */

.navbar-user .nav-link {
    padding: 0;
}

.navbar-user .dropdown-menu {
    margin-top: 1em;
}

.nav-account, .search {
    height: 40px;
    display: flex;
    align-items: center;
}

#nav-username {
    display: none;
}

.nav-icon {
    margin-right: 10px;
}

.dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: absolute !important;
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

.dropdown-item.active {
    background-color: #374785;
}

.dropdown-item:hover {
    background-color: #efefef;
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform:translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    -moz-animation-name: slideIn;
    animation-name: slideIn;
}

#logout {
    color: #f44336;
}

.searchbar {
    width: 100%;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.125) inset;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.searchbar input {
    padding: 0 10px;
    width: 100%;
    caret-color: #f76c6c;
}

.searchbar:hover > .search-icon {
    text-decoration: none;
    color: #f76c6c;
    transition: all 0.3s;
}

.searchbar input {
    border: 0;
    outline: 0;
    background: none;
}

.search-icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}


footer {
    background-color: #333;
    margin-top: 5em;
}

footer .container {
    padding: 2em 0;
    color: #fff;
}

footer h4 {
    padding-bottom: 0.75em;
    margin-bottom: 0.75em;
    border-bottom: 1px solid #aaa;
}

footer .col-lg-4 {
    padding-top: 2em;
    padding-bottom: 2em;
}

footer a, footer a:hover { color: #fff; }

.footer-post {
    background-color: #111;
    padding: 10px 0;
    text-align: center;
    color: #aaa;
}

#login:before {
    content: '|';
    padding-right: 1.5em;
}

.divider {
    color: #6c757d;
    display: block;
    pointer-events: none;
    padding: 0.5rem 1rem;
    user-select: none;
}

.divider:hover {
    cursor: default;
}

/* ERROR HANDLERS */

.error-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-wrapper img {
    width: 100%;
    max-width: 400px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.error-wrapper .row > div {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 991px) {
    .error-wrapper .row div:first-child {
        justify-content: center;
        margin-bottom: 40px;
    }

    .error-wrapper .row div:nth-child(2) {
        justify-content: center;
    }

    .error-wrapper img {
        width: 30%;
    }

    .error-wrapper .error-content {
        text-align: center;
    }
}

/* MEDIA QUERIES */

@media only screen and (min-width: 1024px) {
    /*.facility-list {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }*/

    #nav-username {
        display: inline;
    }
}


/* user profile */
#page-content-wrapper {
    min-width: 0;
    width: 100%;
    z-index: 1;
  }

.actionbtn{
    position: absolute;
    position: sticky;
    float: right;
    bottom: 3rem;
    right: 2rem;
}
.actionbtn button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.user-profile {
    font-size: 100px;
}
.info {

    position: relative;
    z-index: 1;    
}
.user-info {
    padding-left: 30px;
}
/* student info  */
.student-info h1{
    justify-content: center;
    text-align: center;
}
.student-info hr {
    margin-right: 30px;
}
.card-header-info {
    padding: 20px;
}
.card-header-info hr {
    margin-top: -35px;
    margin-left: 70px;
    border: 1.5px black solid;
}
.header-xs {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10px;
}
.header-xs-span {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-top: 22px;
    position: absolute;
    right: 0;
    margin-right: 20px;
}
.header-xs-span-2{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-top: 42px;
    position: absolute;
    right: 0;
    margin-right: 20px;
}
.header-xs-span-3 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-top: 42px;
    position: absolute;
    left: 0;
    margin-left:89px;
}
.forchange {

    color: #3366cc;
}
input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #7a7474;
    color: red;
    width: 140px;
}
.mother-info {
    padding-left: 30px;
}

#toasterview {
    position: absolute;
    z-index: 100;
}
.toast-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast-wrapper-sub {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.toast {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    width: 400px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 0;
}

.toast-warning {
    background-color: rgba(255, 248, 225, 0.95);
}

.toast-warning .toast-header {
    background-color: rgba(255, 236, 179, 0.95);
}

.toast-danger {
    background-color: rgba(255, 235, 238, 0.95);
}

.toast-danger .toast-header {
    background-color: rgba(255, 205, 210, 0.95);
}

.toast-success {
    background-color: rgba(232, 245, 233, 0.95);
}

.toast-success .toast-header {
    background-color: rgba(200, 230, 201, 0.95);
}

.toast-info {
    background-color: rgba(227, 242, 253, 0.95);
}

.toast-info .toast-header {
    background-color: rgba(144, 202, 249, 0.95);
}
.no-data {

    text-align: center;
    justify-content: center;
    color: grey;
    padding-top: 17%;
    padding-bottom: 17%;
}
.links {
    float: right;
}
.number-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 20px;
    border-radius: 20px 0 0 0 ;
    background-color: rgb(177, 174, 174);
}
.item-number {
    color: white;
    margin-top: 20px;
    margin-left: 12px;
}
.text-pending {
    color: gold;
}