@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

/* GENERAL */

html {
    scroll-behavior: smooth;
    font-size: 15px;
}

*
{
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: 700;
}


.list-borderless > li,
.list-borderless > a{
	border: 0 none;
}


/* HOMEPAGE */

#home-main {
	position: relative;
	height: 100vh;
    width: 100%;
}

.topleft {
    position: absolute;
    height: 75%;
    width: 68%;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: gold;
    border-radius: 0 0 1000px 0;
}

.bottomRight{
    position: absolute;
    height: 40%;
    width: 20%;
    z-index: 0;
    bottom: 0;
    right: 0;
    background-color: gold;
    border-radius: 200px 0 0 0;
}

#home-main:after {
	content: "";
	position: absolute;
	background-color: #0b4cb5;
	background-size: cover;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

#home-main nav {
	font-size: 1em;
}

#home-main nav img {
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
#nav-content{
    z-index: 1;
}
#main-content {
	color: #fff;
	position: relative;
	float: left;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* text-align: center; */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#main-content h1 {
    font-size: 3em;
    color: rgb(102, 88, 88);
}
#main-content p {
    font-size: 1.5em;
    color: rgb(102, 88, 88);
}

.landingimage{
    border-radius: 10px;
}

.left-info {
    margin-top: 7%;
}
.right-info{
    margin-top: 10%;
}
.btn{
    border-radius: 40px;
}
.btn-white {
    color: #222;
    background-color: #fff;
}

.btn-white:hover {
    color: #222;
    background-color: #ddd;
}

.text-blue {
    color: #0b4cb5;
}
