@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

/* GENERAL */

html {
    scroll-behavior: smooth;
    font-size: 15px;
}

*
{
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
}
input {
    border-radius: 10px;
}
.welcome-container{
   
    background-size: cover;
    height:100vh;
    margin: 0;
    padding: 0;

}
.container-fluid {
    position: relative;
}


.welcome-container img{
    width: 450px;
    margin-top: 100px;
}

.header-group{
    align-content: flex-end;
    align-items: center;
    display: flex;
}

.title-container{
    padding: 10px;
    margin: 65px 10px 10px;
}

.title-container h4{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.login-forms{
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.login-forms button:hover{
    color: white;
    border: 1px white solid;
}

.login-forms input{
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 0;
}
.topRight{
    position: absolute;
    height: 85%;
    width: 43%;
    z-index: 0;
    top: 0;
    right: 0;
    background-color: gold;
    border-radius: 0 0 100px 100px;
}

.topLeft{
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 0;
    top: 0;
    left: 0;
	background-color: #0b4cb5;
    border-radius: 0 0 100px 100px;
}

.bottomLeft{
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 1;
    bottom: 0;
    left:  0;
    background-color: gold;
    border-radius: 0 100px 100px 0;
}



