body {
  overflow-x: hidden;
}
.sidebar{
    background-color: #324ab2;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -30rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

.list-group{
    margin-top: 20px;
    margin-right: 1px;
}

.list-group .list-group-item{
    border: none;
    background: none;
    margin: 5px;
    text-decoration: none;
    color: snow;
    transition: 0.3s;
}

.list-group .list-group-item:hover{
    color: gold;
}

#sidebar-wrapper .sidebar-heading  .navbar-brand img{
    width: 23%;
    margin-top: -25px;   
}
.sidebar-heading {
  background-color: #19265f;
}

.user-link{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 0.1rem;
    transition: 0.3s;
}

.navigation-bar{
    padding-left: 20px;
}

.user-link:hover{
    color: lightgray;
}

.text-heading{
    color: snow;
    font-family: 'Poppins', sans-serif;
}


#sidebar-wrapper .sidebar-heading .navbar-brand h3{
    margin-top: 10px;
}

#sidebar-wrapper .list-group {
     width: 17rem;
 }

.icon-nav{
    font-size: 20px;
}

#sidebar-wrapper .list-group .list-group-item{
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.navigation-bar{
    background-color: #575A6C;
}
.navbar {
  padding: 21px;
}

a:hover {
  text-decoration: none;
}

.card-pos {
  margin: .75rem;
}

@media (min-width: 360px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -20.2rem;
  }
}

@media only screen and (max-width: 360px) {
  #sidebar-wrapper {
    margin-left: -22.3rem;
  }
}

@media only screen and (max-width: 1920px) {
  #page-content-wrapper  {
    min-width: 50vw;
  } 
}
.active {
  color: black;
  background-color: white;
}